.details {
  text-align: center;
  h1 {
    margin: 5px 0 15px 0;
  }
  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    font-weight: 500;
  }
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  color: white;
  width: 100%;
  .creater {
    color: white;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 16px;
    font-weight: 400;
    span {
      color: grey;
    }
  }
  .artists {
    height: min-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    p {
      font-size: 14px;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      color: grey;
      margin: 2px 0 2px 0;
      span {
        div {
          margin: 0 5px 0 5px;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: rgb(216, 216, 216);
        }
      }
    }
  }
  input[type='submit'] {
    margin: 30px 0 10px 0;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 5px 12px black;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #95e1d3;
    color: black;
  }
}
