a {
  color: white;
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 10px 8px 10px 8px;
  margin: 5px 0 5px 0;
  user-select: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
  i {
    font-size: 27px;
    padding: 0 18px 0 0;
  }
  &:focus {
    background-color: rgba(40, 40, 40, 0.4);
  }
  &:hover,
  &.active {
    background-color: rgb(40, 40, 40);
  }
}
