$primary-color: #95e1d3;
$error-color: #ec5454;
$card-color: rgb(25, 25, 25);
$secondary-text-color: rgb(143, 143, 143);
$primary-text-color: white;

@mixin form-control {
  box-shadow: 0 0 2px 2px #4bebd6d0;
}

@mixin form-control-error {
  box-shadow: 0 0 3px 2px #ec5454;
}

@mixin flex-center($flexFlow) {
  display: flex;
  flex-flow: $flexFlow;
  align-items: center;
  justify-content: center;
}
